*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #386150;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    gap: 2.7vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem;
    border: none;
    font-size: 8vmin;
    color: #e03a34;
    background-color: #a1e06d;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}
#new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}
#msg{
    color: #a1e06d;
    font-size: 8vmin;
}
.msg-container{
    height:30vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;

}